.text-right {
  text-align: right;
}

.result {
  flex: 1 1;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all var(--transition-time) var(--transition-timing);
}
.result::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  border-bottom: 2px solid var(--color-primary);
}
.result-toggle {
  align-self: flex-start;
}
.toggle-control {
  display: block;
  position: relative;
  cursor: pointer;
}
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.toggle-checkbox:checked ~ .control {
  background-color: var(--color-dark-grey);
}
.toggle-checkbox:checked ~ .control::after {
  left: calc(
    var(--toggle-width) - var(--toggle-control-size) - var(--toggle-gap)
  );
  background-color: var(--color-primary);
}
.control {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--toggle-height);
  width: var(--toggle-width);
  border-radius: 2rem;
  background-color: var(--color-primary);
  transition: all var(--transition-time) var(--transition-timing);
  background-size: --toggle-background-size;
  background-repeat: no-repeat;
  background-position: 20% 50%;
}
.control::after {
  content: '';
  position: absolute;
  left: var(--toggle-gap);
  top: var(--toggle-gap);
  width: var(--toggle-control-size);
  height: var(--toggle-control-size);
  background-color: var(--color-grey);
  border-radius: 50%;
  transition: all var(--transition-time) var(--transition-timing);
}
.result-operation {
}
.result-display {
}
