.text-right {
  text-align: right;
}

.result {
  flex: 1 1 auto;
  background-color: green;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result-toggle {
  align-self: flex-start;
}
.toggle-control {
  display: block;
  position: relative;
  cursor: pointer;
  --toggle-width: 8rem;
  --toggle-height: 4rem;
  --toggle-gap: 5px;
  --toggle-control-size: calc(
    var(--toggle-height) - var(--toggle-gap) - var(--toggle-gap)
  );
}
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.toggle-checkbox:checked ~ .control {
  background-color: #555b60;
}
.toggle-checkbox:checked ~ .control::after {
  left: calc(
    var(--toggle-width) - var(--toggle-control-size) - var(--toggle-gap)
  );
  background-color: #f7a84e;
}
.control {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--toggle-height);
  width: var(--toggle-width);
  border-radius: 2rem;
  background-color: #f7a84e;
  transition: background-color 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-size: calc(var(--toggle-control-size) - var(--toggle-gap * 2));
  background-repeat: no-repeat;
  background-position: 20% 50%;
}
.control::after {
  content: '';
  position: absolute;
  left: var(--toggle-gap);
  top: var(--toggle-gap);
  width: var(--toggle-control-size);
  height: var(--toggle-control-size);

  background-color: #555b60;
  border-radius: 50%;
  transition: all 0.25s ease-in;
}
.result-operation {
}
.result-display {
}
