/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
html {
  font-size: 62.5%;
  --color-primary: #f7a84e;
  --color-grey: #555b60;
  --color-dark-grey: #191c21;
  --color-white: #e3e8ec;
  --color-button-night-hover: #464c50;
  --color-button-day-hover: #cdd3d8;
  --toggle-width: 8rem;
  --toggle-height: 4rem;
  --toggle-gap: 5px;
  --toggle-control-size: calc(
    var(--toggle-height) - var(--toggle-gap) - var(--toggle-gap)
  );
  --toggle-background-size: calc(
    var(--toggle-control-size) - var(--toggle-gap) - var(--toggle-gap)
  );
  --transition-time: 0.2s;
  --transition-timing: ease-in;
}

body {
  font-size: 5em;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Dongle', sans-serif;
  padding: 0;
  margin: 0;
}
